* {
    margin: 0;
}

body {
    background-color: hsl(47, 88%, 63%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    font-family: "outfit", sans-serif;
}

.box{
    background-color: hsl(0, 0%, 100%);
    border-radius: 17px;
    padding: 20px;
    box-shadow: 9px 9px 1px rgba(0, 0, 0, 0.9);
    border: 1px solid black;

}

.box img{
    border-radius: 15px;
}

.learn {
    margin-top: 17px;
    background-color: hsl(47, 88%, 63%);
    display: flex;
    padding: 5px 5px 5px 5px;
    width: 70px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
   
    align-items: center;
    text-align: center;
    justify-content: center;

    
}

.pub{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    font-size: 14px;
    
    
}

.titulo{
    display: flex;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;


    
}

.text1{
    display: flex;
    text-align:left;
    margin-bottom: 20px;
    color: hsl(0, 0%, 42%);
    font-size: 16px;
    
    

}

.img{
    display: flex;
    align-items: center;
    ;
    
}

.img img{
    width: 30px;
    
}


.img p{
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
    
}